<% @title="My Blog | #{@post.title}" %>
<div class='mt-3 d-flex align-items-center flex-column'>
  <div class="card mb-3 border-success" style="width: 670px;">
    <div class="card-header bg-success text-white">
      <div class='row'>
        <div class='col-md-8'><%= @post.title %> by <%= @user.name %></div>
        <div class='col-md-4 d-flex gap-2'>
          <p class="card-text"><small class="text-white">Comments: <%= @post.comments_counter %></small></p>
          | 
          <p class="card-text"><small class="text-white">Likes: <%= @post.likes_counter %></small></p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @post.text%></p>
    </div>
  </div>
  <h3>Comments</h3>
  <% if @comments.empty? %>
    <div class="card mb-3 border-danger" style="width: 670px;">
      <div class="card-body">
        <p class="card-text text-danger">No Comment Found</p>
      </div>
    </div>
  <% else %>
    <div class="card mb-3 border-secondary" style="width: 670px;">
      <div class="card-body">
        <% @comments.each do |comment| %>
          <p class="card-text"><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>